@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.clip-triangle-t {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.clip-triangle-b {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
}

.clip-triangle-l {
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
}

.clip-triangle-r {
  clip-path: polygon(100% 50%, 0% 0%, 0% 100%);
}
